<p>passwords works!</p>
<form #miFormulario="ngForm" (ngSubmit)="agregarpass(miFormulario)">
  <input
    type="hidden"
    name="_id"
    [(ngModel)]="servicioPass.contrasenaSeleccionada._id"
  />
  <input
    type="text"
    placeholder="Ingrese URL de la pagina"
    name="url"
    [(ngModel)]="servicioPass.contrasenaSeleccionada.url"
  />
  <br />
  <br />
  <input
    type="text"
    placeholder="Ingrese email"
    name="email"
    [(ngModel)]="servicioPass.contrasenaSeleccionada.email"
  />
  <br /><br />
  <input
    type="text"
    placeholder="Ingrese Contraseña"
    name="password"
    [(ngModel)]="servicioPass.contrasenaSeleccionada.password"
  />
  <br /><br />
  <input
    type="text"
    placeholder="Ingrese fecha"
    name="fecha"
    [(ngModel)]="servicioPass.contrasenaSeleccionada.fecha"
  />
  <br /><br />
  <textarea
    name="detalles"
    id=""
    cols="30"
    rows="10"
    [(ngModel)]="servicioPass.contrasenaSeleccionada.detalles"
  ></textarea>
  <br /><br />
  <button type="button" (click)="limpiarForm(miFormulario)">Limpiar formulario</button>
  <button >Guardar</button>
</form>

<br /><br />
<table border="1">
  <thead>
    <th>URL</th>
    <th>Email</th>
    <th>Contraseña</th>
    <th>Fecha</th>
    <th>Detalle</th>
    <td>Acciones</td>
  </thead>
  <tbody>
    <tr *ngFor="let servicio of servicioPass.contrasenas">
      <td>{{ servicio.url }}</td>
      <td>{{ servicio.email }}</td>
      <td>{{ servicio.password }}</td>
      <td>{{ servicio.fecha }}</td>
      <td>{{ servicio.detalles }}</td>
      <td>
        <button (click)="deletepass(servicio._id)">Eliminar</button> -
        <button (click)="modificarpass(servicio)">Modificar</button>
      </td>
    </tr>
  </tbody>
</table>
